* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body {
  background-image: url('./assets/crypto-bg.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 11px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

.rm-border {
  border: 1px solid black !important;
}

.coindata {
  margin: 0 0;
}

.coindata-hr {
  border-color: rgba(255,255,255,.3);
}
